asgiref==3.8.1
boto3==1.35.5
botocore==1.35.5
redis==5.0.8
channels==4.1.0
Django==5.1
python-decouple==3.8
pytubefix==6.15.4
celery==5.4.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
psycopg2==2.9.9
django-storages==1.14.4
django-cors-headers==4.4.0
daphne==4.1.2
channels-redis==4.2.0